# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js


# testing
/coverage

# production
/build
/deploy
dist

# Firebase
# Local firebase emulators files and config files
/.firebase
/.firebaserc
# Uncomment the next line if you prefer not to include your Firebase rules and indexes in version control
# /firestore.rules
# /firestore.indexes.json
# /storage.rules
# Note: If you're working on a team or open source project, consider keeping
# the rules and indexes files in version control for collaboration.

# Service account keys - Be sure not to commit your service account keys to your repository
# *.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor specific files
.idea/
*.swp
